<configuration>
     <system.webServer>
          <handlers>
               <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
          </handlers>
          <rewrite>
               <rules>
                    <rule name="StaticContent">
                         <action type="Rewrite" url="public{PATH_INFO}"/>
                    </rule>
               </rules>
          </rewrite>
          <httpErrors existingResponse="PassThrough"/>
     </system.webServer>
</configuration>