<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/mobile.css' />
  </head>
  <body>
    <div class="container">
      <div class="mobile">
        <img src="/public/images/escape/escape_logo_black.png" class="es_center images_escape">
      </div>
      <div class="pc center">
        <h1>This site does not support the mobile version!</h1>
      </div>
      <div class="mo-left center">
        <h1>This site does not support the <br> mobile version!</h1>
      </div>
      <div class="image">
        <img src="/public/images/world.svg" alt="World Image">
      </div>
    </div>
  </body>
</html>
