@media (min-width: 320px) and (max-width: 480px) {
    .world-line, .image, .content img, 
    .right-content h1, .right-content h2, .right-content p,
    .read, .sec-container, .th-container, .escape_footer, .content button {
        display: none;
    }
    
    .content h1 {
        width: 300px;
        height: 60px;
        position: absolute;
        font-size: 30px;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav button {
        position: absolute;
        top: 0.8rem;
        right: 1rem;
    }

    .check {
        font-size: 14px;
        width: 330px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 30em;
        text-align: center;
    }
}
